In [ ]:
from bs4 import BeautifulSoup as bs 
import requests 
import pandas as pd 
import numpy as np

In [ ]:
HousingData = []
for i in range(1,80):
    url = f'https://www.imovirtual.com/arrendar/apartamento/?page={i}'
    page = requests.get(url)


    soup = bs(page.content, 'html.parser')

    lists = soup.find_all('article', class_="offer-item")

    for list in lists:
        title = list.find('span', class_="offer-item-title").text
        price = list.find('li', class_="offer-item-price").get_text(strip=True).split('€')[0]
        metros2 = list.find('strong', class_="visible-xs-block").text.split('m²')[0]
        location = list.find('p', class_="text-nowrap").get_text(strip=True).split(':')[1]
        rooms = list.find('li', class_="offer-item-rooms").text
        
        HousingData.append([title, price, metros2, location, rooms])

In [23]:
# Creating a DataFrame from the Data we collected. 
rent = pd.DataFrame(HousingData, columns=['title', 'price', 'metros2', 'location', 'rooms'])
rent

,title,price,metros2,location,rooms
0,T2 no Arrábida,1 750,112,"Santa Marinha e São Pedro da Afurada, Vila Nov...",T2
1,partamento T3 sem móveis em penthouse com elev...,6 250,"238,46","Cascais e Estoril, Cascais, Lisboa",T3
2,"Apartamento T3, 4 assoalhadas com áreas genero...",950,94,"Setúbal (São Julião, Nossa Senhora da Anunciad...",T3
3,T2 PARQUE DOS POETAS,1 900,82,"Oeiras e São Julião da Barra, Paço de Arcos e ...",T2
4,Apartamento T3 próximo ao Marquês para arrenda...,1 800,91,"Bonfim, Porto",T3
...,...,...,...,...,...
1891,Apartamento T2 na Brandoa,1 000,55,"Encosta do Sol, Amadora, Lisboa",T2
1892,Arrenda-se T2 Semi Novo Junto ao Hospital Leiria,750,110,"Leiria, Pousos, Barreira e Cortes, Leiria",T2
1893,Apartamento T2 Novo na Vila de Prado! Arrendam...,1 200,120,"Vila de Prado, Vila Verde, Braga",T2
1894,T0 semimobilado – Glicínias,500,42,"Glória e Vera Cruz, Aveiro",T0
1895,Apartamento T3 na Guarda,700,120,Guarda,T3

In [24]:
rent2 = rent.copy()
rent2

,title,price,metros2,location,rooms
0,T2 no Arrábida,1 750,112,"Santa Marinha e São Pedro da Afurada, Vila Nov...",T2
1,partamento T3 sem móveis em penthouse com elev...,6 250,"238,46","Cascais e Estoril, Cascais, Lisboa",T3
2,"Apartamento T3, 4 assoalhadas com áreas genero...",950,94,"Setúbal (São Julião, Nossa Senhora da Anunciad...",T3
3,T2 PARQUE DOS POETAS,1 900,82,"Oeiras e São Julião da Barra, Paço de Arcos e ...",T2
4,Apartamento T3 próximo ao Marquês para arrenda...,1 800,91,"Bonfim, Porto",T3
...,...,...,...,...,...
1891,Apartamento T2 na Brandoa,1 000,55,"Encosta do Sol, Amadora, Lisboa",T2
1892,Arrenda-se T2 Semi Novo Junto ao Hospital Leiria,750,110,"Leiria, Pousos, Barreira e Cortes, Leiria",T2
1893,Apartamento T2 Novo na Vila de Prado! Arrendam...,1 200,120,"Vila de Prado, Vila Verde, Braga",T2
1894,T0 semimobilado – Glicínias,500,42,"Glória e Vera Cruz, Aveiro",T0
1895,Apartamento T3 na Guarda,700,120,Guarda,T3

In [25]:
# In Portugal the number of rooms always comes with the letter 'T' in front of the number. 
# This code im removing the letter 
rent2['rooms'] = rent2['rooms'].str.extract('(\d+)')
rent2

,title,price,metros2,location,rooms
0,T2 no Arrábida,1 750,112,"Santa Marinha e São Pedro da Afurada, Vila Nov...",2
1,partamento T3 sem móveis em penthouse com elev...,6 250,"238,46","Cascais e Estoril, Cascais, Lisboa",3
2,"Apartamento T3, 4 assoalhadas com áreas genero...",950,94,"Setúbal (São Julião, Nossa Senhora da Anunciad...",3
3,T2 PARQUE DOS POETAS,1 900,82,"Oeiras e São Julião da Barra, Paço de Arcos e ...",2
4,Apartamento T3 próximo ao Marquês para arrenda...,1 800,91,"Bonfim, Porto",3
...,...,...,...,...,...
1891,Apartamento T2 na Brandoa,1 000,55,"Encosta do Sol, Amadora, Lisboa",2
1892,Arrenda-se T2 Semi Novo Junto ao Hospital Leiria,750,110,"Leiria, Pousos, Barreira e Cortes, Leiria",2
1893,Apartamento T2 Novo na Vila de Prado! Arrendam...,1 200,120,"Vila de Prado, Vila Verde, Braga",2
1894,T0 semimobilado – Glicínias,500,42,"Glória e Vera Cruz, Aveiro",0
1895,Apartamento T3 na Guarda,700,120,Guarda,3

In [26]:
#creating two new columns by spliting the location column by the last comma. I noticed that the region was 
#written after the last comma. 
rent2[['location', 'region']] = rent2['location'].str.rsplit(',', n=1, expand = True)
rent2

,title,price,metros2,location,rooms,region
0,T2 no Arrábida,1 750,112,"Santa Marinha e São Pedro da Afurada, Vila Nov...",2,Porto
1,partamento T3 sem móveis em penthouse com elev...,6 250,"238,46","Cascais e Estoril, Cascais",3,Lisboa
2,"Apartamento T3, 4 assoalhadas com áreas genero...",950,94,"Setúbal (São Julião, Nossa Senhora da Anunciad...",3,Setúbal
3,T2 PARQUE DOS POETAS,1 900,82,"Oeiras e São Julião da Barra, Paço de Arcos e ...",2,Lisboa
4,Apartamento T3 próximo ao Marquês para arrenda...,1 800,91,Bonfim,3,Porto
...,...,...,...,...,...,...
1891,Apartamento T2 na Brandoa,1 000,55,"Encosta do Sol, Amadora",2,Lisboa
1892,Arrenda-se T2 Semi Novo Junto ao Hospital Leiria,750,110,"Leiria, Pousos, Barreira e Cortes",2,Leiria
1893,Apartamento T2 Novo na Vila de Prado! Arrendam...,1 200,120,"Vila de Prado, Vila Verde",2,Braga
1894,T0 semimobilado – Glicínias,500,42,Glória e Vera Cruz,0,Aveiro
1895,Apartamento T3 na Guarda,700,120,Guarda,3,None

In [ ]:
#Removing all the whitespaces inside price and metros2 
rent2['price'] = rent2['price'].str.strip()
rent2['metros2'] = rent2['metros2'].str.strip()

In [ ]:
rent3 = rent2.copy()

In [ ]:
#Removing all the unecessary spaces to later make prices into numeric
rent3['price'] = rent3['price'].str.replace(' ', '')
rent3['price']

In [ ]:
# Inside of the price there was a string as you see below. I replaced it with nothing. 
rent3['price'] = rent3['price'].str.replace('Preçosobconsulta', '')

In [ ]:
# Makeing price into Numeric 
rent3['price'] = pd.to_numeric(rent3['price'], errors= 'coerce')
rent3

In [ ]:
# In Europe commas and periods are switched. Here im switching it to normal so i can 
# make metros2 into numeric
rent3['metros2'] = rent3['metros2'].str.replace(',', '.')

In [ ]:
# Converting both metros2 and Rooms to numeric or floats
rent3['metros2'] = pd.to_numeric(rent3['metros2'], errors= 'coerce')
rent3['rooms'] = pd.to_numeric(rent3['rooms'], errors= 'coerce')

In [ ]:
rent3.isnull().sum()

In [ ]:
rent4 = rent3.copy()

In [ ]:
rent4 = rent4.drop_duplicates(subset = ['title', 'price', 'location'], keep= 'first')

In [ ]:
rent4.isnull().sum()

In [ ]:
rent4 = rent4.dropna()

In [22]:
rent4

,title,price,metros2,location,rooms,region
0,T2 no Arrábida,1750.0,112.00,"Santa Marinha e São Pedro da Afurada, Vila Nov...",2,Porto
1,partamento T3 sem móveis em penthouse com elev...,6250.0,238.46,"Cascais e Estoril, Cascais",3,Lisboa
2,"Apartamento T3, 4 assoalhadas com áreas genero...",950.0,94.00,"Setúbal (São Julião, Nossa Senhora da Anunciad...",3,Setúbal
3,T2 PARQUE DOS POETAS,1900.0,82.00,"Oeiras e São Julião da Barra, Paço de Arcos e ...",2,Lisboa
4,Apartamento T3 próximo ao Marquês para arrenda...,1800.0,91.00,Bonfim,3,Porto
...,...,...,...,...,...,...
1890,T3 Aluguer Bica Lisboa,1200.0,70.00,Santa Maria Maior,3,Lisboa
1891,Apartamento T2 na Brandoa,1000.0,55.00,"Encosta do Sol, Amadora",2,Lisboa
1892,Arrenda-se T2 Semi Novo Junto ao Hospital Leiria,750.0,110.00,"Leiria, Pousos, Barreira e Cortes",2,Leiria
1893,Apartamento T2 Novo na Vila de Prado! Arrendam...,1200.0,120.00,"Vila de Prado, Vila Verde",2,Braga
1894,T0 semimobilado – Glicínias,500.0,42.00,Glória e Vera Cruz,0,Aveiro

In [20]:
rent4.to_csv('rentals.csv')

In [21]:
rent4.isna().sum()

title       0
price       0
metros2     0
location    0
rooms       0
region      0
dtype: int64